<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_table}}
        <button>ADD</button>
    </form>
    <h2>Category Data</h2>
    {% for i in data %}
    <hr>
    <li> {{i.name}} </li>
    <li> {{i.description}} </li>
    <li> {{i.created_on}} </li>
    <li> <a href="{% url 'edit_ct' i.id %}">Edit</a> <a href="{% url 'del_ct' i.id %}">Delete</a> </li>
    <hr>
    {% endfor %}
</body>
</html>